<div id="map-wrap">
	<div class="container pt-3">
		<!-- back button -->
		<button type="button" class="btn btn-light" (click)="goBack()" aria-label="go back to previous page button">
			<i class="fas fa-long-arrow-alt-left fa-2x"></i>
		</button>
		<!-- (ends) back button -->
		<h1 class="text-center pb-4">Campus Map of Waste & Recycling Bins</h1>
	</div>
	<div id="map-container">
		<iframe class="iframe-em" src="https://s3-us-west-1.amazonaws.com/maggio-arp/Leaflet+Map/New+For+CSULB/index.html">
		</iframe>
	</div>
</div>