<section id="registrationPage">
  <div class="container p-5">
    <div class="row mt-5">
      <div class="col-lg-4 offset-lg-4">
        <app-message></app-message>
        <div class="card bg-light">
          <div class="card-body">
            <h4 class="text-center">Registration</h4>
            <hr>
            <form (keyup.enter)="register()">
              <div class="form-group">
                <div class="p-1">Name</div>

                <input type="text" name="name" class="form-control" [(ngModel)]="name" aria-label="Name">
              </div>
              <div class="form-group">
                <div class="p-1">Email</div>

                <input type="email" name="email" class="form-control" [(ngModel)]="email" aria-label="Email">
              </div>
              <div class="form-group">
                <div class="p-1">Password</div>

                <input type="password" name="password" class="form-control" [(ngModel)]="password" aria-label="Password">
              </div>
              <div class="form-group">
                <div class="p-1">Confirm Password</div>

                <input type="password" name="password1" class="form-control" [(ngModel)]="password1" aria-label="Confirm Password">
              </div>

              <hr>
              <button type="button" class="btn btn-primary btn-block" (click)="register()" [disabled]="btnDisabled">Register</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>