#quizimage {
}

#answerchoices {
  //margin-top: 2px;
}
.compost {
	background-color: rgb(168, 202, 141);
}
.recycle {
	background-color:rgb(142, 202, 224);
}
.landfill {
	background-color:rgb(165, 165, 165);
}
#imageChoice {
  // margin-left: 100px;

  border-color: black;
}

.item-hl {
  border: 1px solid #333;
}

.summaryClass {
  //margin-bottom: 100px;
}
#quizimage {
}

.q-prompt {
	position: absolute;
	top: 80px;
}
.image-obj {
	max-width: 100%;
	height: 240px;
}
.answer-score {
	padding: 1em 1em;
	margin: 0.5em 0.5em;
	background-color: rgba(81,169,216,0.85);
	border: 1px solid black;
}
.answer-box {
	background-color: rgba(152,154,165,0.85);
	margin: 0.5em 0.5em;
	padding: 0.5em 0.5em;
	border: 1px solid black;
}
.buttonlol {
	background-color: rgba(255,236,113,0.85);
	color: black;
	border-color: black;
}
.item-title {
	background-color: #FFEC71;
	width: 100%;
	padding: 0.5em 0.5em;
	font-size: 1.25rem;
}

#imageChoice {
  // margin-left: 100px;

  border-color: black;
}

.item-hl {
  border: 1px solid #333;
  width: 30%;
  height: 30%;

}

.summaryClass {
  margin-bottom: 100px;
}

