<section id="item">
  <div class="container-fluid p-5">
    <app-message></app-message>
    <div *ngIf="!item" class="m-auto">
      <h1 class="text-center display-3 mt-5">
        <i class="fa fa-spinner fa-spin"></i>
      </h1>
    </div>
    <div *ngIf="item">
      <div class="row">
        <div class="col-lg-4">
          <img [src]="item.image" alt="itemImage" class="image img-thumbnail">
        </div>
        <div class="col-lg-5">
          <div class="row">
            <div class="col-6">
              <h4>{{ item.title }}</h4>
              <p class="m-0">
                <small class="text-muted">{{ item.category.name }}</small>
              </p>
            </div>
            <div class="col-6">
            </div>
          </div>
          <hr>
          <p class="lead">{{ item.description }}</p>
        </div>
        <div class="col-lg-3">
          <div class="card bg-light">
            <div class="card-body">
              <h5 class="card-title"> This item goes into the {{ item.category.name | uppercase }} bin.</h5>
              <br>
              <br>
              <div [ngSwitch]="binType">
                  <div class="card" *ngSwitchCase = "1"> <img src="./assets/img/wastenot_compost.png" height = "200" width = "190">
                  </div>
                  <div class="card" *ngSwitchCase = "2"> <img src="./assets/img/wastenot_recycle.png" height = "200" width = "190">
                  </div>
                  <div class="card" *ngSwitchCase = "3"> <img src="./assets/img/wastenot_landfill.png" height = "200" width = "190">
                  </div>
                </div>
            </div>
          </div>
        </div>



        <!--
          <button type="button" class="btn btn-warning" routerLink="/item/edit/${item._id}"" [disabled]="btnDisabled">Edit</button>
        -->
        <button type="button" class="btn btn-success" (click)="edit()" [disabled]="btnDisabled">Edit</button>

        <button type="button" class="btn btn-danger" (click)="delete()" [disabled]="btnDisabled">Delete</button>

      </div>
    </div>
  </div>
</section>


