.container{
  background-color:rgb(200, 216, 180);
}

.search {
  min-width: 50%;
  font-size: 20px;
}

input::placeholder {
  font-size: 14px;
  text-align: center;
}

.container-fluid{
  min-width: 50%;
}

.responsive {
  width: 50%;
  height: auto;
}

.col-sm-4 {
  text-align: center;
  padding: 10px;
}