


.search {
    width: 70%;
    margin-top: 100px;
    font-size: 20px;
  }

.submit {
    margin-top: 100px;
}

.submitButton {
    margin-top: 150px;
}

.search-bar-wrap {
    padding-bottom: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  } 

#page-wrap {
    background-color: #ddffea;
    text-align: center;
    width: 100%;

  }
