
  <a routerLink="/categories">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Categories</h5>
        </div>
    </div>
  </a>

  <a routerLink="/items">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Items</h5>
        </div>
    </div>
  </a>


  <a routerLink="/news">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">News</h5>
        </div>
    </div>
  </a>

  <a routerLink="/quiz">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Quiz</h5>
        </div>
    </div>
  </a>