<div class="container-fluid">

  <!-- search bar -->
  <div class="row">
    <div class="col-sm-12 p-5" style="background-color:rgb(200, 216, 180);">
      <div class="input-group justify-content-center">
        <input type="text" name="text" class="search" [(ngModel)]="searchTerm" (keyup.enter)="search()" placeholder="Search Items"
          ngDefaultControl>
        <!--  <input type="submit" name="submit" class="submit" (click)="search()">  -->
        <div class="input-group-append">
          <button class="btn btn-success submit" type="submit" name="somename" [(ngModel)]="searchTerm" (click)="search()" ngDefaultControl>
            <i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </div>


  <!-- mobile-friendly quick access navs-->
  <div class="row">
    <div class="col-4 col-sm-4" style="background-color:rgb(168, 202, 141);" routerLink="/categories/5ace82a94561ae0ecf27a16a">
      <i class="fas fa-seedling fa-4x" alt="Compost icon"></i><br><h5>Compost</h5></div>
    <div class="col-4 col-sm-4" style="background-color:rgb(142, 202, 224);" routerLink="/categories/5ae79d9d027d2834db315428">
      <i class="fas fa-recycle fa-4x" alt="Recycle icon"></i><br><h5>Recycle</h5></div>
    <div class="col-4 col-sm-4" style="background-color:rgb(165, 165, 165);" routerLink="/categories/5ae79d8e027d2834db315427">
      <i class="far fa-trash-alt fa-4x" alt="Landfill icon"></i><br><h5>Landfill</h5></div>
    <div class="col-4 col-sm-4" style="background-color:rgb(99, 168, 103);" routerLink="/items">
        <i class="fas fa-align-justify fa-4x" alt="Browse icon"></i><br><h5>Browse</h5></div>
    <div class="col-4 col-sm-4" style="background-color:rgb(95, 153, 177);" routerLink="/categories">
        <i class="fab fa-microsoft fa-4x" alt="Categorized icon"></i><br><h5>Categorize</h5></div>
    <div class="col-4 col-sm-4" style="background-color:rgb(146, 146, 146);" routerLink="/news">
        <i class="fas fa-newspaper fa-4x" alt="Newspaper icon"></i><br><h5>News</h5></div>
    <div class="col-4 col-sm-4" style="background-color:rgb(80, 122, 82);">
        <i class="fas fa-map-marked-alt fa-4x" alt="Map icon"></i><br><h5>Map</h5></div>
    <div class="col-4 col-sm-4" style="background-color:rgb(64, 116, 138);">
        <i class="fas fa-cloud-upload-alt fa-4x" alt="Upload icon"></i><br><h5>Upload Item Photo</h5></div>
    <div class="col-4 col-sm-4" style="background-color:rgb(124, 124, 124);" routerLink="/about">
        <i class="fas fa-question-circle fa-4x" alt="About icon"></i><br><h5>About</h5></div>
  </div>

</div>