<div class="container text-center pt-5">
  <img src="./assets/img/waste_not3.png" class="img-fluid" alt="Waste Not logo">
  <p class="lead pt-3 pb-3 pl-5 pr-5">
    Want to learn where to dispose of something? Search for it up there! <br>
    Or check out the main disposable categories below.
  </p>
</div>

<!-- home CRL mobile-friendly quick access navs-->
<div class="container pl-4 pr-4 pb-4">
  <div class="row">
    <div class="col-12 col-sm-4">
      <div class="card" routerLink="/bins/5ace82a94561ae0ecf27a16a" style="background-color:rgb(190, 223, 159);">
        <div class="card-body">
          <img src="./assets/img/wastenot_compost_notext.png" class="img-fluid" height="100" width="120" alt="Compost bin">
          <br>
          <span class="bin-name">Compost</span>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <div class="card" routerLink="/bins/5ae79d9d027d2834db315428" style="background-color:rgb(142, 202, 224);">
        <div class="card-body">
          <img src="./assets/img/wastenot_recycle_notext.png" class="img-fluid" height="100" width="120" alt="Recycle bin">
          <br>
          <span class="bin-name">Recycle</span>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <div class="card" routerLink="/bins/5ae79d8e027d2834db315427" style="background-color:rgb(165, 165, 165);">
        <div class="card-body">
          <img src="./assets/img/wastenot_landfill_notext.png" class="img-fluid" height="100" width="120" alt="Landfill bin">
          <br>
          <span class="bin-name">Landfill</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- (ends) home CRL mobile-friendly quick access navs-->

<div class="container text-center pl-3 pr-3 pt-3 pb-5">
  <h1 class="display-5">What is Waste Not?</h1>
  <p class="lead pb-2 pt-3 pr-5 pl-5">
    WasteNot is an online database designed for the CSULB campus as a tool to help student, faculty, and visitors alike
    to improve sustainability and recycling habits on-and off-campus.
  </p>
</div>