$main: #94dd80;

.bg-main {
  background-color:$main;
}

a {
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: #07c5ff;
}

button {
  cursor: pointer;
}

section {
  min-height: 600px;
}