@font-face {
	font-family: Din Next Pro; 
	src: url('DINNextLTPro-Regular.otf'); 
} 

#wrap {
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	position: relative;
	background-color: #fafafa;
}

body {
	background-image:url(http://www.daily49er.com/wp-content/uploads/2018/02/Web-trash-0111-900x600.jpg);
	background-attachment: fixed;
	font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	margin: 0;
	color: #333;
	font-size: 14px;
    -webkit-font-smoothing: antialiased;
}