<section id="type">
  <div class="container p-3 p-md-5">
    <app-message></app-message>

    <!-- back button -->
    <button type="button" class="btn btn-light" (click)="goBack()" aria-label="go back to previous page button">
      <i class="fas fa-long-arrow-alt-left fa-2x"></i>
    </button>
    <!-- (ends) back button -->

    <!-- spinner -->
    <div *ngIf="!type" class="m-auto">
      <h1 class="text-center display-3 mt-5">
        <i class="fa fa-spinner fa-spin"></i>
      </h1>
    </div>
    <!-- (ends) spinner -->

    <!-- if type list is empty -->
    <h3 *ngIf="type && !type.items.length" class="display-2 text-center mt-5">No Items inside type</h3>
    <!-- (ends) if type list is empty -->

    <div *ngIf="type && type.items.length">
      <h1 class="display-4 text-center p-2">{{ type.binName }}</h1>

      <hr>
      <!-- display items -->
      <div class="item list-group" *ngFor="let item of type.items">
        <a routerLink="/item/{{ item._id }}" class="list-group-item list-group-item-action">
          <i *ngIf="item.bin == '5ae79d8e027d2834db315427'" class="fas fa-trash-alt pr-2"></i>
          <i *ngIf="item.bin == '5ae79d9d027d2834db315428'" class="fas fa-recycle pr-2"></i>
          <i *ngIf="item.bin == '5ace82a94561ae0ecf27a16a'" class="fas fa-seedling pr-2"></i>
          {{ item.title }}
        </a>
      </div>
      <!-- (ends) display items -->
      <hr>

      <!-- page count -->
      <div class="text-center">
        <p>{{ lower }}-{{ upper }} of {{ type.totalItems }} items in {{ type.binName }}</p>
        <ngb-pagination [collectionSize]="type.totalItems" [pageSize]="50" [(page)]="page" (pageChange)="getItems($event)"></ngb-pagination>
      </div>

    </div>
    <!-- (ends) page count -->
  </div>
</section>