<section id="postItem">
  <div class="container p-5">
    <h4 class="display-4">Edit an Item</h4>
    <hr>
    <app-message></app-message>
    <div *ngIf="!bins" class="m-auto">
      <h1 class="text-center display-3 mt-5">
        <i class="fa fa-spinner fa-spin"></i>
      </h1>
    </div>
    <div *ngIf="bins" class="card bg-light">

      <div class="card-body">
        <form>
          <div class="form-group">
            <label class="form-control-label">Title</label>
            <input type="text" name="title" class="form-control" [(ngModel)]="item.title">
          </div>
          <div class="form-group">
            <label>Bin</label>
            <select name="binId" [(ngModel)]="item.binId" class="custom-select">
              <option *ngFor="let bin of bins" [value]="bin._id">
                {{ bin.name }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label>Type</label>
            <select name="typeId" [(ngModel)]="item.typeId" class="custom-select">
              <option *ngFor="let type of types" [value]="type._id">
                {{ type.name }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label">Image URL</label>
            <input type="text" name="image" class="form-control" [(ngModel)]="item.image">
          </div>
          <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" name="description" rows="5" [(ngModel)]="item.description"></textarea>
          </div>
          <button type="button" class="btn btn-success" (click)="post()" [disabled]="btnDisabled">Post</button>
        </form>
      </div>
    </div>
  </div>
</section>