<div id="wrap">
  <div id="nav-banner">
    <div id="banner-items">
      <a><img id="logo-banner" src="/assets/img/long-beach-state-logo.png" alt="beach-logo"></a>
      <a id="banner-text" href="https://www.csulb.edu/">CSU Long Beach</a>
      <img id="wastenot-logo" src="/assets/img/waste_not2.png" alt="waste-not">
    </div>
  </div>

  <!-- routes the html of all the ..\app\.. -->

  <router-outlet> </router-outlet>
<!-- nav-bar on bottom -->
<div style="background-color: #286445">
  <nav class="nav fixed-bottom nav-justified" style="height: 50px; background-color: #286445;">
    <a class="nav-item nav-link" routerLink="/" routerLinkActive="active">
      <i class="fas fa-home fa-2x" style="color: #f9b525"></i>
    </a>
    <a class="nav-item nav-link" routerLink="/items" routerLinkActive="active">
      <i class="fas fa-search fa-2x" style="color: #f9b525"></i>
    </a>
    <a class="nav-item nav-link " routerLink="/quiz" routerLinkActive="active">
      <i class="fas fa-book fa-2x" style="color: #f9b525"></i>
    </a>
    <a class="nav-item nav-link" href="#" routerLinkActive="active">
      <i class="fas fa-chevron-circle-up fa-2x" style="color: #f9b525"></i>
    </a>
  </nav>
</div>
</div>
