<section id="profile">
  <div class="container p-5">
    <h4 class="display-4 text-center">My Profile</h4>
    <hr>
    <app-message></app-message>
    <div *ngIf="!data.user" class="m-auto">
      <h1 class="text-center display-3 mt-5">
        <i class="fa fa-spinner fa-spin"></i>
      </h1>
    </div>
    <div *ngIf="data.user" class="row mt-5">

      <div class="col-md-8 ml-3">
        <p id="name" class="lead">Username: {{ data.user.name }}</p>
        <br>
        <a routerLink="/profile/settings" class="btn btn-primary">Change Account Settings</a>
        <br>
        <div *ngIf="data.user.isAdmin">
          <p class="lead mt-5">Admin Actions</p>
          <p>Note:</p>
          <p> Having issues with admin actions?</p>
          <p> Solution: Log out and log back in.</p>
          <hr>
          <div class="row">
            <div class="col-md-6 mb-3">
              <a routerLink="/profile/postitem" class="btn btn-outline-success btn-block">Add new Item</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>