<section id="settings">
  <div class="container p-5">
    <!-- back button -->
    <button type="button" class="btn btn-light" (click)="goBack()" aria-label="go back to previous page button">
      <i class="fas fa-long-arrow-alt-left fa-2x"></i>
    </button>
    <!-- (ends) back button -->
    <h1 class="text-center">Account Settings</h1>
    <hr>
    <app-message></app-message>
    <div *ngIf="!currentSettings" class="m-auto">
      <h1 class="text-center display-3 mt-5">
        <i class="fa fa-spinner fa-spin"></i>
      </h1>
    </div>
    <div *ngIf="currentSettings" class="card bg-light">
      <div class="card-body">
        <form (keyup.enter)="update()">
          <div class="form-group">
            <div class="p-1">Name</div>
            <input type="text" name="name" class="form-control" [(ngModel)]="currentSettings.name" aria-label="Profile name">
          </div>
          <div class="form-group">
            <div class="p-1">Email</div>
            <input type="email" name="email" class="form-control" [(ngModel)]="currentSettings.email" aria-label="Email login">
          </div>
          <!--
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" name="isAdmin" class="form-check-input" [(ngModel)]="currentSettings.isAdmin"> Is Admin
            </label>
          </div>
          -->
          <div class="form-group">
            <div class="p-1">New Password</div>
            <input type="password" name="newPwd" class="form-control" [(ngModel)]="currentSettings.newPwd" aria-label="New password">
          </div>
          <div class="form-group">
            <div class="p-1">Confirm Password</div>
            <input type="password" name="pwdConfirm" class="form-control" [(ngModel)]="currentSettings.pwdConfirm"
              aria-label="Confirm password">
          </div>
          <button type="button" class="btn btn-danger" (click)="update()" [disabled]="btnDisabled" aria-label="Update button">Update</button>
        </form>
      </div>
    </div>
  </div>
</section>