<section id="profile">
  <div class="container p-5">
    <!-- back button -->
    <button type="button" class="btn btn-light" (click)="goBack()" aria-label="go back to previous page button">
      <i class="fas fa-long-arrow-alt-left fa-2x"></i>
    </button>
    <!-- (ends) back button -->
    <h1 class="text-center">Profile</h1>
    <hr>
    <app-message></app-message>
    <div *ngIf="!data.user" class="m-auto">
      <h1 class="text-center display-3 mt-5">
        <i class="fa fa-spinner fa-spin"></i>
      </h1>
    </div>
    <div *ngIf="data.user" class="row mt-5">
      <div class="col-md-8 ml-3">
        <h2>Username: {{ data.user.name }}</h2>
        <br>
        <a routerLink="/profile/settings" class="btn btn-primary">Change Account Settings</a>
        <br>
        <div *ngIf="data.user.isAdmin">
          <p class="lead mt-5">Admin Actions</p>
          <hr>
          <div class="row">
            <div class="col-md-6 mb-3">
              <a routerLink="/profile/postitem" class="btn btn-outline-success btn-block">Add new Item</a>
            </div>

            <div class="col-md-6 mb-3">
              <a (click)="logout()" class=" btn btn-outline-danger btn-block">Logout</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>