<section id="postItem">
  <div class="container p-5">
    <!-- back button -->
    <button type="button" class="btn btn-light" (click)="goBack()" aria-label="go back to previous page button">
      <i class="fas fa-long-arrow-alt-left fa-2x"></i>
    </button>
    <!-- (ends) back button -->
    <h1 class="text-center">Edit Item</h1>
    <hr>
    <app-message></app-message>
    <div *ngIf="!bins" class="m-auto">
      <h1 class="text-center display-3 mt-5">
        <i class="fa fa-spinner fa-spin"></i>
      </h1>
    </div>
    <div *ngIf="bins" class="card bg-light">

      <div class="card-body">
        <form>
          <div class="form-group">
            <div class="p-1">Title</div>
            <input type="text" name="title" class="form-control" [(ngModel)]="item.title" aria-label="Title">
          </div>
          <div class="form-group">
            <div class="p-1">Bin</div>
            <select name="binId" [(ngModel)]="item.binId" class="custom-select" aria-label="Bin">
              <option *ngFor="let bin of bins" [value]="bin._id">
                {{ bin.name }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <div class="p-1">Type</div>
            <select name="typeId" [(ngModel)]="item.typeId" class="custom-select" aria-label="Type">
              <option *ngFor="let type of types" [value]="type._id">
                {{ type.name }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <div class="p-1">Image URL</div>
            <input type="text" name="image" class="form-control" [(ngModel)]="item.image" aria-label="Image">
          </div>
          <div class="form-group">
            <div class="p-1">Description</div>
            <textarea class="form-control" name="description" rows="5" [(ngModel)]="item.description" aria-label="Description"></textarea>
          </div>
          <hr class="p-1">
          <div>
            <h2 class="text-center">Quiz Section</h2>
          </div>
          <div class="form-group">
            <div class="p-1">Correct Answer Feedback</div>
            <textarea class="form-control" name="correctAnswerFeedback" rows="5" [(ngModel)]="item.correctAnswerFeedback
            "
              aria-label="Correct Answer Feedback"></textarea>
          </div>

          <div class="form-group">
            <div class="p-1">Wrong Answer Tip (Compost chosen)</div>
            <textarea class="form-control" name="Wrong Answer Tip for Compost choice" rows="5" [(ngModel)]="item.tipCompostWrong
            "
              aria-label="Wrong Answer Tip (Compost chosen)"></textarea>
          </div>

          <div class="form-group">
            <div class="p-1">Wrong Answer Tip (Recycle chosen)</div>
            <textarea class="form-control" name="Wrong Answer Tip for Recycle choice" rows="5" [(ngModel)]="item.tipRecycleWrong
            "
              aria-label="Wrong Answer Tip (Recycle chosen)"></textarea>
          </div>


          <div class="form-group">
            <div class="p-1">Wrong Answer Tip (Landfill chosen)</div>
            <textarea class="form-control" name="Wrong Answer Tip for Landfill choice" rows="5" [(ngModel)]="item.tipLandfillWrong
            "
              aria-label="Wrong Answer Tip (Landfill chosen)"></textarea>
          </div>

          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" name="isAdmin" class="form-check-input" [(ngModel)]="item.isCompostAndLandfill"
                aria-label="Compost or Landfill checkbox">
              This item goes inside either the Compost or Landfill bin (depending on location).
            </label>
          </div>
          <br>

          <button type="button" class="btn btn-success" (click)="post()" [disabled]="btnDisabled" aria-label="Post button">Post</button>
        </form>
      </div>
    </div>
  </div>
</section>