<div class="starter-template">
	<div id="top-banner">
		<div id="banner-items">
			<img id="banner-items-logo" src="/assets/img/new_logo.png">
		</div>
		<div id="banner-items">
			<img src="/assets/img/waste_not3.png">
		</div>
	</div>
	<div class="item-wrap" id="second-wrap">
		<h4><i>What is WasteNot?</i></h4>
		<p class="lead">
			WasteNot is an online database designed for the CSULB campus as a tool to help student, faculty, and visitors alike to improve sustainability and recycling habits on-and off-campus.
		</p>
	</div>
	<div class="item-wrap" id="third-wrap">
		<h4><i>What is our goal?</i></h4>
		<p class="lead">
			In accordance with the CSULB Sustainability Office and the new CSU zero waste program initiative, we are working to provide the campus with a multitude of resources and information for an overall higher level of environmental conscientiousness.
		</p>
		<p class="lead">
			Our main goal involves helping the campus achieve its goal of becoming a zero waste campus (90% diversion rate of trash to recyclable services/facilities) by the year 2030!
		</p>
		<p class="lead">
			For more information about the new waste diversion program, visit the official CSULB website <a href="https://www.csulb.edu/sustainability/waste-not">here</a>.
		</p>
	</div>
	<div class="item-wrap" id="features">
		<h4><i>App features</i></h4>
		<ul>
			<li class="lead">Searchable database for numerous recyclable and non-recyclable items that can be found inside and outside of campus. Quick and convenient to use, contained in a simple search bar function.</li>
			<li class="lead">List of all recyclable and non-recyclable items in the database, viewable as a complete whole or organized by categories.</li>
			<li class="lead">News and information page presenting information regarding recycling protocol or campus updates from the CSULB Sustainability Office.</li>
			<li class="lead">Quiz game to test your knowledge on the ins-and-outs of recycling. Fun and helpful in teaching a thing or two about recycling.</li>
		</ul>
	</div>
	<div class="item-wrap" id="comp-and-dep">
		<h4><i>Components and dependencies</i></h4>
		<p class="lead">The WasteNot system is developed using the MEAN software stack:</p>
		<ul>
			<li>
				<p class="lead">MongoDB: NoSQL database</p>
			</li>
			<li>
				<p class="lead">Express.js: Web framework for backend application development</p>
			</li>
			<li>
				<p class="lead">Angular: Front-end web design framework for desktop applications</p>
			</li>
			<li>
				<p class="lead">Node.js: Server framework for backend application development</p>
			</li>
		</ul>
	</div>
	<div id="documentation">
		<h4><i>Documentation</i></h4>
			<p class="lead">
				For latest documentation, please visit the WasteNot Github <a style="color: white;"href="https://github.com/WasteNotCSULB">project page</a> where you can find documentation information.
			</p>
	</div>
</div>