<header>
  <div class="header-wrap">
  <nav class="nav-bar">
    <a routerLink="/">
      <img style="height: 75px; float: left;"src="/assets/img/logo2.png" alt="logo">
    </a>
      <ul>
        <li>
          <a (click)="collapse()" routerLink="/" routerLinkActive="active" class="nav-link">Home</a>
        </li>
        <li>
          <a (click)="collapse()" routerLink="/news" routerLinkActive="active" class="nav-link">News</a>
        </li>
        <li>
          <a (click)="collapse()" routerLink="/about" routerLinkActive="active" class="nav-link">About</a>
        </li>
        <li>
          <a (click)="collapse()" routerLink="/quiz" routerLinkActive="active" class="nav-link">Quiz</a>
        </li>
        <li>
          <a (click)="collapse()" routerLink="/items" routerLinkActive="active" class="nav-link">Items</a>
        </li>
        <li>
          <a (click)="collapse()" routerLink="/categories" routerLinkActive="active" class="nav-link">Explore Categories</a>
        </li>
      </ul>
  </nav>
</div>
</header>
<body>
  <div id="page-wrap">
    <form class="search-bar-wrap">
      <input type="text" name="text" class="search" placeholder="Search our database for items to recycle">
      <input type="submit" name="submit" class="submit" value="Search">
    </form>
  </div>
</body>
<router-outlet></router-outlet>

<footer>
  <div class="footer-text">
    <p class="lead text-center">Copyright &copy; 2018 WasteNot</p>
  </div>
</footer>
